<mat-toolbar color="primary">
    <div class="flex-container">
      <button mat-icon-button routerLink="/">
        <mat-icon>home</mat-icon> 
      </button>
      <span class="toolbar-title">Controle de Edição Especial</span>
      <button mat-fab color="accent" routerLink="/edicaoespecial/new">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </mat-toolbar>

  <table mat-table [dataSource]="edicaoespecial" class="mat-elevation-z8">
      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
      <!-- Descrição Column -->
      <ng-container matColumnDef="descricao">
        <th mat-header-cell *matHeaderCellDef> Descrição </th>
        <td mat-cell *matCellDef="let element"> {{element.descricao}} </td>
      </ng-container>
        
      <!-- Conteúdo Adicional Column -->
      <ng-container matColumnDef="conteudoAdicional">
        <th mat-header-cell *matHeaderCellDef> Conteúdo Adicional </th>
        <td mat-cell *matCellDef="let element"> {{element.conteudoAdicional}} </td>
      </ng-container>
        
      <!-- Preço Column -->
      <ng-container matColumnDef="precoExtra">
        <th mat-header-cell *matHeaderCellDef> Preço </th>
        <td mat-cell *matCellDef="let element"> {{element.precoExtra}} </td>
      </ng-container>
        
      <!-- Acao Column -->
      <ng-container matColumnDef="acao">
        <th mat-header-cell *matHeaderCellDef> Ação </th>
        <td mat-cell *matCellDef="let element"> 
          <button mat-icon-button 
                  color="primary"
                  routerLink="/edicaoespecial/edit/{{element.id}}">
                  <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button 
                  color="warn">
                  <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>