/* Arquivo: header.component.css */

/* Estilos para a barra de ferramentas */
mat-toolbar {
    background-color: white; /* Fundo branco */
    color: black; /* Texto preto */
    padding: 0 20px;
    display: flex;
    align-items: center;
}

/* Botão de menu */
.example-icon {
    color: black;
}

.example-icon:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

/* Espaçador para alinhar elementos */
.example-spacer {
    flex: 1 1 auto;
}

/* Estilos para o botão do carrinho de compras */
.favorite-icon {
    margin-right: 10px;
    position: relative;
}

.favorite-icon .mat-badge-content {
    background-color: #E53935; /* Cor de aviso */
    color: white;
}

/* Botões de ícones */
button[mat-icon-button] {
    color: black;
    margin-left: 10px;
}

button[mat-icon-button]:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

/* Estilo para o nome do usuário logado */
.user-name {
    margin-left: 10px;
    font-weight: bold;
    color: black;
}

/* Responsividade */
@media (max-width: 768px) {
    mat-toolbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .example-spacer {
        display: none;
    }

    .favorite-icon,
    button[mat-icon-button] {
        margin: 5px 0;
    }

    .user-name {
        margin-left: 0;
        margin-top: 5px;
    }
}
