<mat-toolbar color="primary">
    <button (click)="clickMenu()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <a routerLink="/loja/produtos">
        <img src="assets/img/logo.png" alt="Logo" class="logo">
    </a>
    <span class="example-spacer"></span>
    <button routerLink="/search" mat-icon-button class="example-icon" aria-label="Example icon-button with search icon">
        <mat-icon>search</mat-icon>
    </button>
    <button routerLink="/favorites" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with favorite icon">
        <mat-icon>favorite</mat-icon>
    </button>
    <button routerLink="/carrinho" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with shopping cart icon">
        <mat-icon [matBadge]="qtdItensCarrinho" matBadgeColor="warn" matBadgePosition="after" matBadgeOverlap="false">shopping_cart</mat-icon>
    </button>
    <span>{{usuarioLogado?.nome}}</span>
    <ng-container *ngIf="tipo === 1">
        <button routerLink="/loja/carrinho" mat-icon-button class="demo-section example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon [matBadge]="qtdItensCarrinho"  matBadgeColor="warn" matBadgePosition="after" matBadgeOverlap="false">shopping_cart</mat-icon>
        </button>
    </ng-container>
    

    <button  mat-icon-button (click)="deslogar()">
      <mat-icon>exit_to_app</mat-icon>
    </button>
    
    
</mat-toolbar>