<mat-toolbar color="primary">
  <div class="flex-container">
    <span class="toolbar-title">Home</span>
  </div>
</mat-toolbar>



<div class="example-button-row">
  <button mat-raised-button color="primary" routerLink="/gravadoras">Gravadoras</button>
  <button mat-raised-button color="primary" routerLink="/artistas">Artistas</button>
  <button mat-raised-button color="primary" routerLink="/albuns">Albuns</button>
  <button mat-raised-button color="primary" routerLink="/generos">Gêneros</button>
  <button mat-raised-button color="primary" routerLink="/faixas">Faixas</button>
</div>