/* Arquivo: footer.component.css */

/* Estilos para o footer */
.footer {
  background-color: rgb(12, 56, 8); /* Verde do Spotify */
  color: white; /* Texto branco */
  padding: 20px 0;
  text-align: center;
}

.footer-text {
  margin: 0;
  font-size: 14px;
}
