<mat-toolbar color="primary" class="toolbar-title">Cadastro de Edição Especial</mat-toolbar>
<div class="form-container">
    <mat-card>
        <mat-card-content>
            <form [formGroup]="formGroup">
                <mat-grid-list cols="2" rowHeight="100px" gutterSize="8px">
                    <mat-grid-tile>
                        <mat-form-field appearance="fill" class="full-width-input">
                            <mat-label>Nome</mat-label>
                            <input matInput type="text" formControlName="nome">
                            <mat-error *ngIf="formGroup.get('nome') 
                                           && formGroup.get('nome')?.invalid
                                           && formGroup.get('nome')?.touched">
                                O nome é obrigatorio.
                            </mat-error>
                        </mat-form-field>
                    </mat-grid-tile>
                   
                    <mat-grid-tile>
                        <mat-form-field class="full-width-input">
                          <mat-label>Albuns</mat-label>
                          <mat-select formControlName="id_album">
                            @for (albuns of listAlbums; track albuns) {
                            <mat-option [value]="albuns.id">{{albuns.nome}}</mat-option>
                            }
                          </mat-select>
                        </mat-form-field>
                      </mat-grid-tile>
                </mat-grid-list>
            </form>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button 
                    color="primary" 
                    (click)="salvar()"
                    [disabled]="formGroup.invalid"> 
                Salvar 
            </button>
            <button mat-raised-button 
                    *ngIf="formGroup?.get('id')?.value"
                    color="warn" 
                    (click)="excluir()"
                    [disabled]="formGroup.invalid"> 
                Excluir 
            </button>
            <button mat-raised-button  
                    routerLink="/edicaoespecial"> 
                Cancelar 
            </button>
        </mat-card-actions>
    </mat-card>
</div>
