<div class="container responsive-grid">
  <mat-card *ngFor="let card of cards()" class="card">
    <img mat-card-image src='../../../../assets/img/album.png' alt="Card image" class="card-image">
    <mat-card-content>
      <div class="card-info">
        <span class="card-title">{{ card.nome }}</span>
        <span class="card-artist">{{ card.artista.nome }}</span>
        <span class="card-stock">Estoque: {{ card.estoque }}</span>
        <span class="card-price"><b>R$ {{ card.preco }}</b></span>
      </div>
    </mat-card-content>
    <mat-card-footer class="card-footer">
      <button mat-flat-button (click)="adicionarAoCarrinho(card)" class="btn-small btn-block">
        Adicionar ao carrinho
      </button>
      <button mat-flat-button (click)="verMais(card)" class="btn-small btn-block">
        Ver mais
      </button>
    </mat-card-footer>
  </mat-card>
</div>
