/* Arquivo: cd-card-list.component.css */

/* Container responsivo para grid */
.container.responsive-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 16px;
    padding: 16px;
}

/* Estilizando os cards */
mat-card {
    background-color: rgb(12, 56, 8); /* Fundo preto */
    color: white; /* Texto branco */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

mat-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

/* Estilizando a imagem do card */
mat-card-image {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 200px;
    object-fit: cover;
}

/* Centralizando o texto */
.centered-text {
    text-align: center;
    margin: 16px 0;
}

/* Estilizando o botão de ver mais */
mat-card-actions button {
    color: white; /* Verde Spotify */
    border: 1px solid white;
}

mat-card-actions button:hover {
    background-color: rgba(30, 215, 96, 0.1);
}

/* Estilizando o botão de adicionar ao carrinho */
mat-card-footer button {
    background-color: white; /* Verde Spotify */
    color: rgb(12, 56, 8);
}

mat-card-footer button:hover {
    background-color: rgb(12, 56, 8); /* Verde escuro Spotify */
    color: white;
}
