<div class="container responsive-grid">
    <mat-card *ngFor="let card of cards()" class="card">
      <img mat-card-image [src]="card.urlImagem" alt="Card image" class="card-image">
      <mat-card-content>
        <div class="card-info">
          <span class="card-title">{{ card.nome }}</span>
          <span class="card-price">R$ {{ card.preco }}</span>
        </div>
      </mat-card-content>
      <!-- <mat-card-actions class="card-actions">
        <button mat-button color="primary" class="btn-small">Ver mais...</button>
      </mat-card-actions> -->
      <mat-card-footer class="card-footer">
        <button mat-flat-button (click)="adicionarAoCarrinho(card)" class="btn-small btn-block">
          Adicionar ao carrinho
        </button>
      </mat-card-footer>
    </mat-card>
  </div>