
<div class="container responsive-grid" >
    <mat-card *ngFor="let item of listCompras" class="card">
        <mat-card-content>
            <div class="card-info">
            <span class="card-title"> {{item.cliente.nome}} </span>
            <span class="card-title"> Total dos Pedido: R$ {{item.totalPedido}}</span>
            <span class="card-title"> Status: {{item.statusPedio.label}}</span>
            <span class="card-price">Pagamento: {{item.pagamento.label}}</span>
            </div>
        </mat-card-content>
        <br/>
    </mat-card>
    </div>
