<div class="main-container">
  <mat-card appearance="outlined" class="main-card">
    <mat-card-content>
      <mat-tab-group mat-align-tabs="center" mat-stretch-tabs="false" [(selectedIndex)]="selectedTabIndex">
        <mat-tab label="Carrinho">
          <ng-container *ngIf="carrinhoItens.length > 0; else carrinhoVazio">
            <div class="container responsive-grid">
              <mat-card *ngFor="let item of carrinhoItens" class="card">
                <img mat-card-image src="../../../assets/img/album.png" alt="Card image" class="card-image">
                <mat-card-content>
                  <div class="card-info">
                    <span class="card-title"> {{item.nome}} </span><br>
                    <span class="card-subtitle"> Valor: R$ {{item.preco}}</span><br>
                    <span class="card-subtitle"> Qntd: <input matInput type="number" [(ngModel)]="item.quantidade" min="1" class="quantity-input"><br></span><br>
                   
                    <span class="card-price">Total: R$ {{ item.quantidade * item.preco }}</span>
                  </div>
                </mat-card-content>
                <mat-card-actions class="centered-text">
                  <button mat-button color="warn" (click)="removerItem(item)">Remover do Carrinho</button>
                </mat-card-actions>
              </mat-card>
            </div>

            <h4>Método de Pagamento:</h4>
            <mat-form-field>
              <mat-label>Selecione o método</mat-label>
              <mat-select (selectionChange)="onSelectionChange($event)">
                <mat-option *ngFor="let pag of pagamentos" [value]="pag.value">{{pag.viewValue}}</mat-option>
              </mat-select>
            </mat-form-field>
          </ng-container>
        </mat-tab>
        <mat-tab label="Finalizar Compra" [disabled]="auxiliar">
          <ng-container *ngIf="carrinhoItens.length > 0; else carrinhoVazio">
            <div class="finalizar-compra">
              <h3>Resumo da compra:</h3>
              <ul>
                <li *ngFor="let item of carrinhoItens">
                  <strong>{{ item.nome }}</strong>: {{ item.quantidade }} x R$ {{ item.preco }} = R$ {{ item.quantidade * item.preco }}
                </li>
              </ul>
              <h3>Forma de Pagamento:</h3>
              <p>{{ getPagamentoNome() }}</p>

              <div *ngIf="getPagamentoNome() === 'Cartão Crédito / Débito'">
                <h3>Dados do Cartão:</h3>
                <p>Nome do Titular: {{ cartao?.nomeTitular }}</p>
                <p>Número: {{ mascaraCartao() }}</p>
                <p>Data de Expiração: {{ cartao?.dataExpiracao }}</p>
              </div>
              
              <h3>Total:</h3>
              <p>R$ {{ getTotal() }}</p>
            </div>
          </ng-container>
          <button mat-raised-button color="primary" (click)="finalizarCompra()">Finalizar Compra</button>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</div>
<ng-template #carrinhoVazio>
  <p>O carrinho está vazio.</p>
</ng-template>
