<mat-drawer-container class="container">

    <mat-drawer #drawer  mode="side" opened>
        <mat-toolbar>
            <span>Menu</span>
        </mat-toolbar>
        <mat-nav-list>
            <mat-list-item>Home</mat-list-item>
            <mat-list-item routerLink="/admin/estados">Controle de Estados</mat-list-item>
            <mat-list-item routerLink="/admin/municipios">Controle de Municípios</mat-list-item>
            <mat-list-item routerLink="/admin/gravadoras">Controle de Gravadoras</mat-list-item>
            <mat-list-item routerLink="/admin/artistas">Controle de Artistas</mat-list-item>
            <mat-list-item routerLink="/admin/albuns">Controle de Albuns</mat-list-item>
            <mat-list-item routerLink="/admin/generos">Controle de Gêneros</mat-list-item>
            <mat-list-item routerLink="/admin/faixas">Controle de Faixas</mat-list-item>
            <mat-list-item routerLink="/admin/compositores">Controle de Compositores</mat-list-item>
            <mat-list-item routerLink="/admin/classificacaoetaria">Controle de Classificação Etária</mat-list-item>
            <mat-list-item routerLink="/admin/edicaoespeciais">Controle de Edição Especial</mat-list-item>

        </mat-nav-list>
    </mat-drawer>

    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>