<h2 mat-dialog-title>Pagamento com Cartão</h2>
<mat-dialog-content class="payment-dialog-content">
  <mat-grid-list cols="4" rowHeight="3:1">
    <mat-grid-tile>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Número do Cartão</mat-label>
        <mat-icon matPrefix>credit_card</mat-icon>
        <input matInput [(ngModel)]="cardDetails.numero" placeholder="1234 5678 9012 3456">
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Titular do Cartão</mat-label>
        <mat-icon matPrefix>person</mat-icon>
        <input matInput [(ngModel)]="cardDetails.nomeTitular" placeholder="Maria da Silva">
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile >
      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Data de Expiração</mat-label>
        <mat-icon matPrefix>event</mat-icon>
        <input matInput [(ngModel)]="cardDetails.dataExpiracao" placeholder="MM/YY">
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile >
      <mat-form-field appearance="outline" class="half-width">
        <mat-label>CVV</mat-label>
        <mat-icon matPrefix>lock</mat-icon>
        <input matInput [(ngModel)]="cardDetails.cvv" placeholder="123">
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-dialog-actions align="end">
    <button mat-button (click)="closeDialog()">Fechar</button>
    <button mat-raised-button color="primary" (click)="salvarCartao()" >Salvar</button>
  </mat-dialog-actions>
  
</mat-dialog-content>


